<ul class="menu-list">
  <li class="menu-list__item">
    <a href="/">
      Home
    </a>
  </li>
  <li class="menu-list__item">
    <a href="/products">
      Products
    </a>
  </li>
  <li class="menu-list__item">
    <a href="/redirect">
      Redirect
    </a>
  </li>
  <li class="menu-list__item">
    <a href="/taskList1">
      Task list #1
    </a>
  </li>
  <li class="menu-list__item">
    <a href="/contacts">
      Contacts
    </a>
  </li>
  <li class="menu-list__item">
    <a href="/login1">
      Login1
    </a>
  </li>
  <li class="menu-list__item">
    <a href="/testscala">
      Test Scala
    </a>
  </li>
</ul>