@import tags._
@()

@mainLayout(title="Login page") {
  <div class="">
    <h1 class="">
      Login page
    </h1>

    <h3 class="">
      GET
    </h3>

    <form method="get" action="/validateGET1">
      Username: <input type="text" name="username">
      Password: <input type="password" name="password">
      <input type="submit">
    </form>

    <h3 class="">
      POST
    </h3>

    <form method="post" action="@routes.TaskList1.validatePOST1()">
      Username: <input type="text" name="username">
      Password: <input type="password" name="password">
      <input type="submit">
    </form>
  </div>
}